/* About Section */
.about-section {
  background-color: #f8f8f8;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333; /* Set a text color that contrasts well with the background */
}

.section-title {
  font-size: 36px;
  margin-bottom: 30px;
  font-family: 'ASIX-FOUNDER', sans-serif;
}

.about-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  text-align: center;
  padding: 0 30px;
}

.about-text h3 {
  font-size: 24px;
  margin-top: 20px;
}

.about-text p {
  margin-top: 10px;
  line-height: 1.6;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 180px;
  height: auto;
  /* border-radius: 20%; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.about-image img:hover {
  transform: scale(1.05);
}

.connect-links a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.connect-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-text {
    padding: 0;
    margin-bottom: 30px;
  }
}
