.about-container {
  margin: 0 auto;
  padding: 20px;
}

/* About Section */
.about-section {
  background-color: #f8f8f8;
  padding: 0px 0;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.about-text {
  flex: 1;
  text-align: left;
  padding-right: 30px;
}

.about-text h3 {
  font-size: 24px;
  margin-top: 20px;
}

.about-text p {
  margin-top: 10px;
  line-height: 1.6;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  max-width: 180px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  transition: transform 0.3s ease-in-out; /* smooth transition effect */
}

.about-image img:hover {
  transform: scale(1.05); /* Enlarge the image on hover */
}

.connect-links a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.connect-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-text {
    padding-right: 0;
    margin-bottom: 30px;
  }
}
