/* Navbar */
.navbar-container {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  /* Center the navigation links horizontally */
  .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 10px;
  }
  
  .navbar-link {
    margin: 0 15px;
    color: #333; /* Adjust the color as needed */
    font-size: 20px; /* Adjust the font size as needed */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #d6cab8;
  }
  