.skills-section {
    background-color: #fff;
    padding: 80px 0;
  }
  
  .skills-list {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .skill-type {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
  }
  
  .skills-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skills-list li {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .skills-list li:before {
    content: '\2022'; /* Bullet point character */
    color: #777;
    font-size: 20px;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .skills-list {
      justify-content: center;
    }
  }
  